.showcase{
    background: url(../assets/cover1.jpg);
      /* Set a specific height */
      height: 100vh;
      /* width: fit-content; */
      /* padding: 0px 0; */
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
      color: whitesmoke;
}

.showcase h1{
    font-size: 2.8rem;
    line-height: 2.7rem;
    
}

.showcase h2{
    font-size: 1.5rem;
    line-height: 1.8rem;
}

.showcase p{
    font-size: 1.2rem;
    line-height: 1.8rem;
    /* margin-bottom: 10%; */
}

/* .s-image{
    filter: grayscale(80%);
}

.s-image:hover{
    filter: grayscale(0%);
    
} */